* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

/* Media Quiries  */
@media (max-width: 768px) {
  .container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    margin: 1rem !important;
    text-align: center !important;
  }
}

@media (max-width: 575px) {
  .container {
    display: grid !important ;
    grid-template-columns: 1fr !important;
    margin: 1rem 0 !important;
    text-align: center !important;
  }
}
